*{
    padding: 0px;
    margin: 0px;
}

.load{
    animation:carregar 2s  infinite ease-in-out;
    color: rgb(25, 25, 129);
    font-size: 80px;
}


@keyframes carregar{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}